In [28]:
# Otra forma de crear RDD no tan habitual pero si interesante de conocer.
concursantes = [(1, 'Wey', 13, 88),
                (2, 'Eu', 12, 66),
                (3, 'Angel', 11, 55),
                (4, 'Azul', 11, 44),
                (5, 'Gatito', 11, 33),
               ]

In [33]:
concursantes

[(1, 'Wey', 13, 88),
 (2, 'Eu', 12, 66),
 (3, 'Angel', 11, 55),
 (4, 'Azul', 11, 44),
 (5, 'Gatito', 11, 33)]

In [34]:
concursantes_RDD = sc.parallelize(concursantes)

In [4]:
concursantes_RDD.take(2)

[(1, 'Wey', 13, 88), (1, 'Eu', 12, 66)]

In [13]:
from pyspark.sql.types import *

In [54]:
esquema = StructType([
    StructField("id", LongType(), True),
    StructField("nombre", StringType(), True),
    StructField("nivel", LongType(), True),
    StructField("victorias", LongType(), True),
])

In [ ]:
concursantes_DF = spark.createDataFrame(concursantes_RDD)

In [55]:
concursantes_DF = spark.createDataFrame(concursantes_RDD, esquema)

In [56]:
concursantes_DF.describe()

DataFrame[summary: string, id: string, nombre: string, nivel: string, victorias: string]

In [59]:
concursantes_DF.printSchema()

root
 |-- id: long (nullable = true)
 |-- nombre: string (nullable = true)
 |-- nivel: long (nullable = true)
 |-- victorias: long (nullable = true)

In [60]:
concursantes_DF.createOrReplaceTempView('concursantes')

In [39]:
concursantes

[(1, 'Wey', 13, 88),
 (2, 'Eu', 12, 66),
 (3, 'Angel', 11, 55),
 (4, 'Azul', 11, 44),
 (5, 'Gatito', 11, 33)]

In [61]:
spark.sql("SELECT * FROM concursantes")

DataFrame[id: bigint, nombre: string, nivel: bigint, victorias: bigint]

In [62]:
concursantes_todos_DF = spark.sql("SELECT * FROM concursantes")

In [63]:
concursantes_todos_DF.show()

+---+------+-----+---------+
| id|nombre|nivel|victorias|
+---+------+-----+---------+
|  1|   Wey|   13|       88|
|  2|    Eu|   12|       66|
|  3| Angel|   11|       55|
|  4|  Azul|   11|       44|
|  5|Gatito|   11|       33|
+---+------+-----+---------+

In [66]:
concursantes_buenos_DF = spark.sql("SELECT * FROM concursantes where nivel>11")

In [67]:
concursantes_buenos_DF.show()

+---+------+-----+---------+
| id|nombre|nivel|victorias|
+---+------+-----+---------+
|  1|   Wey|   13|       88|
|  2|    Eu|   12|       66|
+---+------+-----+---------+

In [68]:
concursantes_buenos_DF.cache()

DataFrame[id: bigint, nombre: string, nivel: bigint, victorias: bigint]

In [71]:
#Dataframe API
concursantes_todos_DF.select("nombre").filter("nivel>11").show()

+------+
|nombre|
+------+
|   Wey|
|    Eu|
+------+

In [77]:
concursantes_todos_DF.select("nombre","nivel").filter("nivel>11 and nivel<=13").show()

+------+-----+
|nombre|nivel|
+------+-----+
|   Wey|   13|
|    Eu|   12|
+------+-----+

In [79]:
spark.sql("select nombre, nivel from concursantes where nivel between 12 and 13").show()

+------+-----+
|nombre|nivel|
+------+-----+
|   Wey|   13|
|    Eu|   12|
+------+-----+