In [3]:
print("Hola mundo")

Hola mundo

In [5]:
print("Sesion python")

Sesion python

In [10]:
nombre = "Miguel"

In [11]:
type(nombre)

str

In [38]:
apellido = "Martinez"

In [17]:
# agrupatsya tupla
usuario_miguel = (nombre, apellido, tiene_hijos)

In [18]:
type(usuario_miguel)

tuple

In [35]:
nombre_tupla = usuario_miguel[0]
tiene_hijos_tupla = usuario_miguel[len(usuario_miguel)-1]
tiene_hijos = False

In [3]:
print(nombre_tupla)

NameError: name 'nombre_tupla' is not defined

In [30]:
print(usuario_miguel[len(usuario_miguel)-1])

True

In [36]:
print("{} tiene hijos? {}".format(nombre_tupla, tiene_hijos_tupla))

Miguel tiene hijos? True

In [49]:
# estructura iterativa for
for dato in usuario_miguel[0:-1]:
    print(f"Dato: {dato}")
    print(f"Dato: {dato.upper()}")

Dato: Miguel
Dato: MIGUEL
Dato: Lopez
Dato: LOPEZ

In [50]:
usuaria_maria = ("maria", "larios")

In [51]:
usuarios = list()

In [53]:
type(usuarios)

list

In [55]:
usuarios.append(usuario_miguel)

In [59]:
print(usuarios)

[('Miguel', 'Lopez', True), ('Miguel', 'Lopez', True), ('maria', 'larios')]

In [71]:
usuarios.append(usuaria_maria)

In [2]:
for usuario in usuarios:
    print(f"Nombre del usuario: {usuario[0]}")

NameError: name 'usuarios' is not defined

In [ ]:
nombre = input("Como te llamas?")

In [ ]:
nombre = input()

In [ ]:
print(nombre)

In [ ]:
nombre = input("Como te llamas?")

In [ ]:
print(nombre)

In [ ]:
for usuario in usuarios:
    print(f"Nombre del usuario: {usuario[0]}")

In [ ]:
nombre = "Alguno"

In [ ]:
print(nombre)

In [ ]:
print(nombre)

In [1]:
print("HOla")

HOla

In [7]:
usuarios = list()

In [9]:
usuario_miguel = ("Miguel", "Martinez", True)

In [10]:
usuaria_maria = ("Maria", "Larios")

In [11]:
usuarios.append(usuario_miguel)

In [12]:
usuarios.append(usuaria_maria)

In [13]:
nombre = input("Como te llamas?")

Como te llamas?Juan

In [14]:
apellido = input("Como te apellidas?")

Como te apellidas?Perez

In [15]:
hijos = input("Tienes hijos?")

Tienes hijos?False

In [16]:
tupla = (nombre, apellido, hijos)

In [17]:
print(tupla)

('Juan', 'Perez', 'False')

In [18]:
print(usuarios)

[('Miguel', 'Martinez', True), ('Maria', 'Larios')]

In [19]:
usuarios.insert(0, tupla)

In [20]:
print(usuarios)

[('Juan', 'Perez', 'False'), ('Miguel', 'Martinez', True), ('Maria', 'Larios')]

In [24]:
usuarios[::2]

[('Juan', 'Perez', 'False'), ('Maria', 'Larios')]

In [27]:
def ver_usuarios():
    for usuario in usuarios:
        print(usuario)

In [28]:
ver_usuarios()

('Juan', 'Perez', 'False')
('Miguel', 'Martinez', True)
('Maria', 'Larios')

In [33]:
def pedir_nombre_y_apellido():
    nombre = input("Como te llamas? ")
    apellido = input("Como te apellidas? ")
    return nombre, apellido

In [34]:
info = pedir_nombre_y_apellido()

Como te llamas? Benito
Como te apellidas? Camelo

In [35]:
print(info)

('Benito', 'Camelo')

In [36]:
a,b,c,d,e,f = (1,2,3,4,5,6)

In [38]:
e

5