In [2]:
try:
    f_data = open('resultado.dat', 'w')
    f_data.write('Hola Mundo cruel');
    f_data.close()
except: 
    print('Problemas de acceso al paraiso')

In [6]:
def recoger_datos_escribir_resultado(origen='tareas.dat', destino='resultado.dat'):
    try:
        f_data = open(destino, 'w')
        with open(origen) as f_tareas:
            #asignaciones = []
            for linea in f_tareas:
                #print(linea)
                dni, tarea = linea.rstrip().split(",")
                print (dni, tarea, sep='\t', file=f_data)
                #asignaciones.append(gest_t.asignar_tarea(dni, tarea))
    except:
        print("PRoblemas en el paraiso")
    finally:
        f_data.close()
        print("Fin")

In [7]:
recoger_datos_escribir_resultado()

Fin

In [1]:
import gestion_ficheros as gficheros

In [2]:
tareas = gficheros.obtener_items_fichero()

Fin

In [3]:
tareas

['333C', 'Tarea 1', '666F', 'Tarea 2', '999J', 'Tarea 3']

In [4]:
numeros = list(range(1,101))

In [5]:
numeros

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [6]:
for numero in numeros:
    print(numero)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [8]:
nueva_lista_numeros = [numero for numero in numeros]

In [9]:
nueva_lista_numeros

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [10]:
nueva_lista_numeros[0] = 90

In [11]:
nueva_lista_numeros

[90,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [12]:
numeros

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [15]:
numeros[0] = 1

In [16]:
numeros

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [17]:
nueva_lista_numeros_impar = [numero for numero in numeros if numero%2 != 0]

In [18]:
nueva_lista_numeros_impar

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [19]:
len(nueva_lista_numeros_impar)

50

In [20]:
nueva_lista_numeros_impares_multiplicados_por_tres =  [numero*3 for numero in nueva_lista_numeros_impar]

In [22]:
nueva_lista_numeros_impares_en_una_tupla_de_elementos_duplicados =  [(numero,numero) for numero in nueva_lista_numeros_impar]

In [23]:
nueva_lista_numeros_impares_en_una_tupla_de_elementos_duplicados

[(1, 1),
 (3, 3),
 (5, 5),
 (7, 7),
 (9, 9),
 (11, 11),
 (13, 13),
 (15, 15),
 (17, 17),
 (19, 19),
 (21, 21),
 (23, 23),
 (25, 25),
 (27, 27),
 (29, 29),
 (31, 31),
 (33, 33),
 (35, 35),
 (37, 37),
 (39, 39),
 (41, 41),
 (43, 43),
 (45, 45),
 (47, 47),
 (49, 49),
 (51, 51),
 (53, 53),
 (55, 55),
 (57, 57),
 (59, 59),
 (61, 61),
 (63, 63),
 (65, 65),
 (67, 67),
 (69, 69),
 (71, 71),
 (73, 73),
 (75, 75),
 (77, 77),
 (79, 79),
 (81, 81),
 (83, 83),
 (85, 85),
 (87, 87),
 (89, 89),
 (91, 91),
 (93, 93),
 (95, 95),
 (97, 97),
 (99, 99)]

In [25]:
nueva_lista_numeros_impares_multiplicados_por_tres_en_una_tupla_de_elementos_duplicados =  [(numero,numero) for numero in nueva_lista_numeros_impares_multiplicados_por_tres]

In [26]:
nueva_lista_numeros_impares_multiplicados_por_tres_en_una_tupla_de_elementos_duplicados

[(3, 3),
 (9, 9),
 (15, 15),
 (21, 21),
 (27, 27),
 (33, 33),
 (39, 39),
 (45, 45),
 (51, 51),
 (57, 57),
 (63, 63),
 (69, 69),
 (75, 75),
 (81, 81),
 (87, 87),
 (93, 93),
 (99, 99),
 (105, 105),
 (111, 111),
 (117, 117),
 (123, 123),
 (129, 129),
 (135, 135),
 (141, 141),
 (147, 147),
 (153, 153),
 (159, 159),
 (165, 165),
 (171, 171),
 (177, 177),
 (183, 183),
 (189, 189),
 (195, 195),
 (201, 201),
 (207, 207),
 (213, 213),
 (219, 219),
 (225, 225),
 (231, 231),
 (237, 237),
 (243, 243),
 (249, 249),
 (255, 255),
 (261, 261),
 (267, 267),
 (273, 273),
 (279, 279),
 (285, 285),
 (291, 291),
 (297, 297)]

In [36]:
tareas

['333C', 'Tarea 1', '666F', 'Tarea 2', '999J', 'Tarea 3']

In [37]:
nombres_tareas = [tarea for i,tarea in enumerate(tareas) if i%2!=0]

In [39]:
nombres_tareas

['Tarea 1', 'Tarea 2', 'Tarea 3']

In [38]:
claves_tareas = [tarea for i,tarea in enumerate(tareas) if i%2==0]

In [40]:
claves_tareas

['333C', '666F', '999J']

In [41]:
tuplas_tareas = [(claves_tareas[i], nombres_tareas[i]) for i in range(0,len(claves_tareas)) ]

In [42]:
tuplas_tareas

[('333C', 'Tarea 1'), ('666F', 'Tarea 2'), ('999J', 'Tarea 3')]

In [46]:
items = [(tareas[i], tareas[i+1]) for i in [index for index, tarea in enumerate(tareas) if index%2==0]]

In [47]:
items

[('333C', 'Tarea 1'), ('666F', 'Tarea 2'), ('999J', 'Tarea 3')]

In [51]:
def tarea_es_par(tarea):
    nombre_tarea = tarea[-1]
    return int(nombre_tarea.split()[-1]) % 2 == 0

In [50]:
tarea_es_par('tarea 5')

False

In [75]:
def tarea_es_impar(tarea):
    return tarea_es_par(tarea) == False

In [76]:
lista_prioritaria = filter(tarea_es_impar, items)

In [53]:
lista_prioritaria

In [54]:
type(lista_prioritaria)

filter

In [77]:
for item in lista_prioritaria:
    print(item)

('333C', 'Tarea 1')
('999J', 'Tarea 3')

In [82]:
def obtener_letra(tarea):
    return tarea[0][-1]

In [83]:
letras_dni = map(obtener_letra,items)

In [80]:
letras_dni

In [84]:
list(letras_dni)

['C', 'F', 'J']